@font-face {
  font-family: "Kode Mono";
  src: url("/public/Fonts/KodeMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


body{
    background-color:#918B8B;;
     
}

.Header{
    display:flex;
    justify-content: center;

}
.RobotIcon{
    width: clamp(30px,8vw,80px);
    height: auto;
}

.Calc-Title{
    font-size: clamp(1rem,10vw,2.5rem); /*Minimum font size, preferred size with viewport width, max font size(never gets bigger than this)*/
    font-family: Kode Mono;
    color: #0C1F62;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #0C1F62;


}



.SubHeader{
    display: flex;
    justify-content: space-around;
    justify-self: center; /*This made the subheader be in the center of the window*/
    background-color: #E06C13;
    width: clamp(300px,90vw,1000px);
    height: auto;
    border-radius: 10px;
    border: 5px solid black;
    padding: 10px;
    
    
}

/*Dropdown menu, if we want it to be rounded then we will have to use div instead*/

.To-Section,.From-Section{
    font-family: Kode Mono,monospace;
    
}

select{
    font-family: Kode Mono,monospace;
    text-align: center; /*Allows the texts on the drop down menu to be centered*/
    font-weight:bold;
    border-radius: 10px;

}


/*This is the main section- calculator*/
.Calc-Section{
    background-color: #0C1F62;
    display: flex;
    justify-self: center;
    transform: translateY(20px);
    width: clamp(100px,90vw,1000px);
    height: clamp(50px,90vw, 600px);
    border-radius:20px;

    


}

.Calc-Options{
    background-color: #BFBDBD;
    margin: 30px;
    width: clamp(200px,27vw,280px);
    border-radius: 20px;
    display:grid;
    grid-auto-rows: minmax(80px, auto);
    gap: 12px;
     padding: 16px;/*This adds padding to the grey container, meaning it gives more grey container to make it seem bigger */
    overflow: hidden;
}


.Hex-Option,.Dec-Option,.Bin-Option,.Oct-Option{
    background-color: white;
    border-radius:10px ;
    
    width: clamp(100px,20vw,250px);
    position: relative;
    
}
.Option-Title{
    font-family: Kode Mono,monospace;
    font-weight: bold;
    font-size: clamp(0.8rem,10vw,1.2rem);
    text-align: center;
    white-space: nowrap; /*prevents the text from breaking into multiple lines*/
    /*This will  create the line that separates the Title and the value*/
    border-bottom: 2px solid black;
    padding-bottom: 4px; /*This adds space between the line and the title*/
    margin-bottom: 6px; /*This adds space between the line and the value*/
}

.Hex-Value,.Dec-Value,.Oct-Value,.Bin-Value{
    font-family: Kode Mono,monospace;
   font-size: clamp(.9rem,10vw,1.5rem);
    position: absolute;
    right: 5px;
    bottom: 5px;
}

.Hex-Option{
    background-color: #4369F1;

}

.Dec-Option{
    background-color: #AA0808;

}
.Oct-Option{
    background-color: #A6EB05;

}
.Bin-Option{
    background-color: #EF9309;

}


.Calc-Right-Side{
    display: flex;
    flex-direction: column;
    gap: 30px; 
    width: 70%;
}

.Calc-Top-Box{
    display:flex; 
    flex-direction: column;               
    background-color: #D9D9D9;
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    height: clamp(2px,130px,100px);
    border-radius: 10px;
    border: 5px solid black;
    padding-right: 20px;
}

.Calculation-Display{
    margin-left:auto;
    text-align: right;
    background: transparent;
    border: none;
    font-family: Kode Mono,monospace;
    font-size: 4rem;
    overflow: hidden;
    font: bolder;
    font-weight: 700;
}

.Backspace-Button{
    background: transparent;
    border: transparent;
    margin-left: auto;
    filter: invert(60%) brightness(80%);
}

.Calc-Middle-Options{
    background-color: #AA0808;
    display: flex;
    margin-right: 20px;
    height: clamp(3px,60px,170px);
    border-radius: 10px;
    border: 5px solid black;
    justify-content: space-evenly;
    align-items: center;
}

.key {
    color: white;
    background: transparent;
    border: none;
    font-family: Kode Mono, monospace;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.1s ease, color 0.1s ease;
}

.Calc-Buttons-Section{
    background-color: #BFBDBD;
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
    height: clamp(3px,460px,970px);
    border-radius: 10px;
    border: 5px solid black;

}
/*.Calc-Display{
    
}*/
