body{
    background-color:#918B8B;;
     
}

.Header{
    display:flex;
    justify-content: center;

}
.RobotIcon{
    width: clamp(30px,8vw,80px);
    height: auto;
}

.Calc-Title{
    font-size: clamp(1rem,10vw,2.5rem); /*Minimum font size, preferred size with viewport width, max font size(never gets bigger than this)*/
    font-family: Kode Mono;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

/*Subheader:*/

/*clamp(MIN,PREFERRED,MAX)
ex: width:clamp(600px,90vw,1000px);
90vw-> 90% of viewport width
*/

.SubHeader{
    display: flex;
    justify-content: space-around;
    justify-self: center; /*This made the subheader be in the center of the window*/
    background-color: #E06C13;
    width: clamp(300px,90vw,1000px);
    height: auto;
    border-radius: 10px;
    border: 5px solid black;
    padding: 10px;
    
    
}

/*Dropdown menu, if we want it to be rounded then we will have to use div instead*/

.To-Section,.From-Section{
    font-family: Kode Mono,monospace;
    
}

select{
    font-family: Kode Mono,monospace;
    text-align: center; /*Allows the texts on the drop down menu to be centered*/
    font-weight:bold;
    border-radius: 10px;

}


/*This is the main section- calculator*/
.Calc-Section{
    background-color: #0C1F62;
    display: flex;
    justify-self: center;
    transform: translateY(20px);
    width: clamp(100px,90vw,1000px);
    height: clamp(50px,90vw, 600px);
    border-radius:20px;

}

.Calc-Options{
    background-color: #BFBDBD;
    justify-self: center;
    display: flex;
    transform: translate(50px,50px);
    width: clamp(200px,27vw,280px);
   
    border-radius: 20px;


}

/*.Calc-Display{
    
}*/

.Calc-Button-Row{
    background-color: #AA0808;

}

.Calc-Buttons-Section{
    background-color: #BFBDBD;
}