body{
    background-color:#918B8B;;
     
}

.Header{
    display:flex;
    justify-content: center;

}
.RobotIcon{
    width: clamp(30px,8vw,80px);
    height: auto;
}

.Calc-Title{
    font-size: clamp(1rem,10vw,2.5rem); /*Minimum font size, preferred size with viewport width, max font size(never gets bigger than this)*/
    font-family: Kode Mono;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

/*Subheader:*/

/*clamp(MIN,PREFERRED,MAX)
ex: width:clamp(600px,90vw,1000px);
90vw-> 90% of viewport width
*/

.SubHeader{
    display: flex;
    justify-content: space-around;
    justify-self: center; /*This made the subheader be in the center of the window*/
    background-color: #E06C13;
    width: clamp(300px,90vw,1000px);
    height: auto;
    border-radius: 10px;
    border: 5px solid black;
    padding: 10px;
    
    
}

.To-Section,.From-Section{
    font-family: Kode Mono,monospace;
    
}

select{
    font-family: Kode Mono;
    font-weight:bold;

}